/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.konohaEsquerda {
    margin-right: 80px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.newbutton {
    height: 38px;
    text-align: center;
    border-radius: 28px;
    background: #13b5ea;
    background: -moz-linear-gradient(top, #13b5ea, #0f91bb);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#13b5ea), to(#0f91bb));
    background: -webkit-linear-gradient(top, #13b5ea, #0f91bb);
    background: -o-linear-gradient(top, #13b5ea, #0f91bb);
    background: linear-gradient(to bottom, #13b5ea, #0f91bb);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
    line-height: 28px;
    margin: 5px 0;
    padding: 0 20px;
    border: 5px solid #c8e6f0;
}

.newbutton.red {
    background: #B33333;
    background: -moz-linear-gradient(top, #B33333, #800000);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#B33333), to(#800000));
    background: -webkit-linear-gradient(top, #B33333, #800000);
    background: -o-linear-gradient(top, #B33333, #800000);
    background: linear-gradient(to bottom, #B33333, #800000);
    border: 5px solid #FFCCCC;
}

.newbutton.green {
    background: #33B3B3;
    background: -moz-linear-gradient(top, #33B3B3, #008080);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#33B3B3), to(#008080));
    background: -webkit-linear-gradient(top, #33B3B3, #008080);
    background: -o-linear-gradient(top, #33B3B3, #008080);
    background: linear-gradient(to bottom, #33B3B3, #008080);
    border: 5px solid #CCFFFF;
}

.newbutton.black {
    background: #7F7F7F;
    background: -moz-linear-gradient(top, #7F7F7F, #333333);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#7F7F7F), to(#333333));
    background: -webkit-linear-gradient(top, #7F7F7F, #333333);
    background: -o-linear-gradient(top, #7F7F7F, #333333);
    background: linear-gradient(to bottom, #7F7F7F, #333333);
    border: 5px solid #CCCCCC;
}

@font-face {
    font-family: 'njnaruto';
    src: url('../ninja_naruto/njnaruto.ttf') format('truetype');
}