
@{
    ViewData["Title"] = "Historia";
}
    
    <body>
        <font size="3" face="njnaruto">
        <div class="form-group">
            <div class="text-center">
                <h1>O que e o "Exame Chunin"</h1>
                <p>
                    O exame chuunin E um teste feito duas vezes ao ano para determinar quais genni  ns ao redor do mundo estão aptos a se tornarem chuunins.
                    Desde que eles tenham completado um minimo de 8 missões eles podem entrar para o exame, contudo, serve também para amenizar de forma mais sutil as guerras entre as vilas ocultas.
                    Varias naçoes shinobi estavam guerreando entre si e muitos ninjas foram mortos como consequencia, por este motivo, o exame chuunin foi feito, para que civis, lordes e pessoas sem vilas ninjas;
                    Vejam quais das vilas possuem os melhores ninjas para realizarem as missoes, fazendo com que as vilas com o maior numero de graduados recebam mais clientes.
                    Entao, e um interesse da vila que um ninja se gradue, para aumentar os clientes; e e claro, e um interesse do shinobi o fazer bem, contanto que isso o faça ganhar missoes de niveis maiores.
                    A naçao na qual o exame e feito varia em cada evento (contudo, o evento e feito na maioria das vezes na Vila da Folha).
                    Normalmente, a naçao que esta hospedando o exame tem mais ninjas que qualquer outra.
                    Ninjas de vilas ocul tas devem portar passes com eles o tempo todo enquanto vagam pela vila em que estao participando.
                </p>
            </div>
        </div>
        </font>
    </body>

