
@{
    ViewData["Title"] = "Historia";
}
    
    <body>
        <font face="">
        <div class="form-group">
            <div class="text-center">
                <h1>O que é o "Exame Chunin"</h1>
                <p>
                    O exame chuunin é um teste feito duas vezes ao ano para determinar quais genni  ns ao redor do mundo estão aptos a se tornarem chuunins.
                    Desde que eles tenham completado um mínimo de 8 missões eles podem entrar para o exame, contudo, serve também para amenizar de forma mais sutil as guerras entre as vilas ocultas.
                    Várias nações shinobi estavam guerreando entre si e muitos ninjas foram mortos como conseqüência, por este motivo, o exame chuunin foi feito, para que civis, lordes e pessoas sem vilas ninjas;
                    Vejam quais das vilas possuem os melhores ninjas para realizarem as missões, fazendo com que as vilas com o maior número de graduados recebam mais clientes.
                    Então, é um interesse da vila que um ninja se gradue, para aumentar os clientes; e é claro, é um interesse do shinobi o fazer bem, contanto que isso o faça ganhar missões de níveis maiores.
                    A nação na qual o exame é feito varia em cada evento (contudo, o evento é feito na maioria das vezes na Vila da Folha).
                    Normalmente, a nação que está hospedando o exame tem mais ninjas que qualquer outra.
                    Ninjas de vilas ocul tas devem portar passes com eles o tempo todo enquanto vagam pela vila em que estão participando.
                </p>
            </div>
        </div>
        </font>
    </body>

