@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <font size="40" face="njnaruto" color="black">
            <h1 class="display-4">Bem-Vindo Gennin</h1>
        </font>
        <font size="24" face="njnaruto">
            <p>Aqui comeca sua jornada ninja, esperamos que sobreviva ao final dos exames e se torne um grande chunin !!!!</p>
        </font>
    </div>
