
@{
    ViewData["Title"] = "Regras";
}

<h1>Regras</h1>

<body>
    <font face="">
        <div class="form-group">
            <div class="text-center">
                <h1>Quais são as Regras do ExameChunin</h1>
                <p>
                    
                </p>
            </div>
        </div>
    </font>
</body>