
@{
    ViewData["Title"] = "Login";
}
<font face="njnaruto">
<h1>Logue em Sua Conta</h1>
</font>

<div class="form-horizontal" >
    <form method="post">
        <font face="njnaruto">

            <div class="form-group">
                <div class="text-center">
                    <input type="text" name="Nome" id="Nome" placeholder="Usuario"><br />
                    <span class="text-danger" id="erroUsuario" name="erroUsuario"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="password" name="Senha" id="Senha" placeholder="Senha"><br />
                    <span class="text-danger" id="erroSenha" name="erroSenha"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <button class="newbutton red" name="BotaoEnviar" id="BotaoEnviar">
                        Efetuar Login
                    </button>
                </div>
            </div>

            <div class="form-group">
                <div class="text-center">
                    <span class="txt1">
                        Crie Sua Conta
                    </span>
                    <a asp-area="" asp-controller="Kage" asp-action="Cadastrar">Aqui</a>
                </div>
            </div>
        </font>
    </form>
</div>

@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $("#BotaoEnviar").click(function (e) {

                var usuario = $("#Nome").val();
                var senha = $("#Senha").val();

                var sucesso = true;
                
                if (usuario == "") {
                    $("#erroUsuario").html("Usuario deve ser informado!");
                    sucesso = false;
                }
                else {
                    $("#erroUsuario").html("");
                }

                if (senha == "") {
                    $("#erroSenha").html("Senha deve ser informada!");
                    sucesso = false;
                }
                else {
                    $("#erroSenha").html("");
                }

                if (!sucesso) {
                    e.preventDefault();
                }

            });
        });
    </script>
}